*{
    font-family: 'Overlock', cursive;
    outline:none;
}
body{
    background-image: url('/images/map.jpg');
    background-size: cover;
    background-attachment: fixed;
}

form {
   display: flex;
   text-align: center;
   flex-direction: column;
   margin: 4% 17%;
   background-color: #dedaf7ab;;
   border-radius: 3em;
}
form  p{
    font-size: x-large;
}
form input {
	padding: 10px;
	margin: 0.2em;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

form textarea {
	margin: 10px;
	width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.submit{
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #db7979d6
}
